# Recommender system example

In [2]:
import pandas as pd

# Read users data

In [7]:
user_columns = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('ml-100k/u.user', sep='|', names=user_columns, encoding='latin-1')
users[:10]

   user_id  age sex     occupation zip_code
0        1   24   M     technician    85711
1        2   53   F          other    94043
2        3   23   M         writer    32067
3        4   24   M     technician    43537
4        5   33   F          other    15213
5        6   42   M      executive    98101
6        7   57   M  administrator    91344
7        8   36   M  administrator    05201
8        9   29   M        student    01002
9       10   53   M         lawyer    90703

# Read ratings file

In [6]:
rating_columns = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=rating_columns, encoding='latin-1')
ratings[:10]

NameError: name 'rating_colums' is not defined